<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALyZMPnImaGcHtzOA7t5g1PN6K1a-WBOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1028914323103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourdomain.newApp</string>
	<key>PROJECT_ID</key>
	<string>myapiprojects-425308</string>
	<key>STORAGE_BUCKET</key>
	<string>myapiprojects-425308.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028914323103:ios:d228c47537c2dbc437ccaa</string>
</dict>
</plist>